<html>
<head>
<title>Login page</title>
</head>

<body>

	<div id="wrapper">

		<div id="title_section">LOGIN TO WEBSITE</div>

		<div id="content_section">

			<br />
			<form method="post">
				<input id="username" class="textbox" type="text"
					placeHolder="Username" name="username" />
				<br /> 
				<input id="password" class="textbox" type="password"
					placeHolder="Password" name="password" />
				<br /> 
				<input id="button" type="submit" value="Login" />
			</form>
			<br />
			

		</div>
		&nbsp
	</div>


</body>

</html>

