<head>
<title>Send activate token page</title>
</head>

<body>

	<div id="wrapper">

		<div id="title_section">SEND ACTIVATE TOKEN</div>

		<div id="content_section">

			<br />
			<form method="post">
				<input id="email" class="textbox" type="text"
					placeHolder="Email" name="email" />
				<br /> 
				<input id="username" class="textbox" type="text"
					placeHolder="Username" name="username" />
				<br /> 
				<input id="button" type="submit" value="Send" />
			</form>
			<br />
			

		</div>
			

		</div>
		&nbsp
	</div>


</body>

</html>

