<head>
<title>Send email page</title>
</head>

<body>

	<div id="wrapper">

		<div id="title_section">SEND EMAIL</div>

		<div id="content_section">

			<br />
			<form method="post">
				<input id="from" class="textbox" type="text"
					placeHolder="From" name="from" />
				<br /> 
				<input id="to" class="textbox" type="text"
					placeHolder="To" name="to" />
				<br /> 
				<input id="subject" class="textbox" type="text"
					placeHolder="Subject" name="subject" />
				<br /> 
				<input id="content" class="textbox" type="text"
					placeHolder="Content" name="content" />
				<br /> 
				<input id="button" type="submit" value="Send" />
				<input type="reset" />
			</form>
			<br />
			

		</div>
		&nbsp
	</div>


</body>

</html>

