<head>
<title>Sign up page</title>
</head>

<body>

	<div id="wrapper">

		<div id="title_section">SIGN UP FORM</div>

		<div id="content_section">

			<br />
			<form method="post">
				<input id="email" class="textbox" type="text"
					placeHolder="Email" name="email" />
				<br /> 
				<input id="username" class="textbox" type="text"
					placeHolder="Username" name="username" />
				<br /> 
				<input id="password" class="textbox" type="password"
					placeHolder="Password" name="password" />
				<br /> 
				<input id="password2" class="textbox" type="password"
					placeHolder="Confirm Password" name="password2" />
				<br /> 
				<input id="button" type="submit" value="Sign up" />
			</form>
			<br />
			

		</div>
		&nbsp
	</div>


</body>

</html>

